@charset "UTF-8";

:root {
    --primary-color: #001a53;
    --secundary-color: #bac5f3;
    --background-color: #485599;
    --shadow-color: #00000085;
    --btn-color-green: #00bf62;
    --btn-color-red: #fc5856;
    --font-color-red: #3d0b0e;
    --post-btn-color: #38b6ff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

div.login-card {
    background-color: var(--primary-color);
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px var(--shadow-color);
    width: 80%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

input {
    padding: 10px;
    margin: 10px 0 20px 0px;
    border: 2px solid white;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    width: 100%;
}

.password-wrapper {
    position: relative;
    width: 100%;
}

.password-wrapper input {
    padding-right: 48px;
}

#toggle-password {
    position: absolute;
    top: 27%;
    right: 12px;
    cursor: pointer;
    color: white;
    font-size: 1.4rem;
    user-select: none;
    z-index: 1;

    font-variation-settings: 'FILL' 0;
}

button#login-btn, button#create-btn {
    background-color: var(--btn-color-green);
    box-shadow: 0px 10px 20px var(--shadow-color);
    margin: 20px 0px;
}

p.register-link {
    color: white;
    text-align: center;
    margin: 10px 0px;
}

a.register-link {
    color: var(--btn-color-green);
    font-weight: bolder;
    text-decoration: none;
}

h2 {
    font-weight: thin;
    font-size: medium;
}